# Common junk files
*.class
*.log
*.pyc
*.swp
*.tmp
*.lock
.DS_Store

# IDEs
.idea/
.vscode/
.atom/
.svn/
.history

# Flutter/Dart
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock

# Android
*.iml
.android/
.gradle/
local.properties
/android/app/debug
/android/app/profile
/android/app/release

# iOS/macOS
.ios/
.macos/
Pods/
Podfile.lock
Generated.xcconfig
xcuserdata/

# Web, Windows, Linux
web/.dart_tool/
web/build/
linux/
!linux/lib/**
windows/
!windows/lib/**

# Flutter artifacts
**/doc/api/
**/ios/Flutter/.last_build_id
app.*.symbols
app.*.map.json

# Misc tools
.melody_tool/
.melos_tool/
migrate_working_dir/
.build/
.buildlog/
.swiftpm/
